body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif';
}

html,
body {
  height: 100%;
}
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.tooltip {
  font-weight: bold;
  opacity: 1 !important;
  font-size: 15px;
  padding: 6px 12px;
}

.gradient {
  overflow: hidden;
  height: 100vh;
  background: rgb(255, 126, 95);
  background: linear-gradient(
    90deg,
    rgba(255, 126, 95, 1) 41%,
    rgba(254, 180, 123, 1) 100%
  );
}
