body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.gradient {
  background: rgb(255, 126, 95);
  background: linear-gradient(
    90deg,
    rgba(255, 126, 95, 1) 41%,
    rgba(254, 180, 123, 1) 100%
  );
}
